body {
	background: 
		linear-gradient(to right, rgb(153, 255, 204) , rgb(204, 229, 255));
	font-family: 'Fredericka the Great', cursive;
}

#container {
	width: 18rem;
	max-width: 1024px;
	margin: 10% auto 0 auto;
}

#header {	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgb(0, 102, 204);
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#header .fas {
	margin-top: 28px;
	font-size: 25px;
	display: inline-block;
}

input[type="text"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
	width: 100%;
	background: rgb(240, 240, 240);
	border: 3px solid rgba(0, 0, 0, 0);
	padding: 10px 0; 
	text-indent: 20px;
	font-family: 'Fredericka the Great', cursive;
}
::placeholder {
	font-family: 'Fredericka the Great', cursive;
}


#elements span {
	display: flex;
	margin: 0;
	padding: 5px 0 5px 8px;
	list-style-type: none;
}
li {
	list-style-type: none;
	padding-left: 13px; 
	box-sizing: border-box;
}
span {
	background-color: rgb(255, 255, 255);
}

#elements .fas {
	 display: none;
	//background-color: rgb(255, 14, 2);
}



.greyElement {
	background-color: rgb(240, 240, 240);
}
.doneElements {
	text-decoration: line-through;
	
}